.badgelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.badgelist li {
    display: inline-block;
    margin: 0 5px;
}

.post-badges {
    margin-top: 10px;
}

.post-contact {
    display: inline-block;
    margin-left: 10px;
}
