<!-- IF U_USER_ADMIN -->
<div class="panel bg2">
    <div class="inner">
        <h3>{L_USER_BADGES}</h3>
        <p>{L_USER_BADGES_EXPLAIN}</p>
        <fieldset class="fields2">
            <dl>
                <dt><label for="badge_name">{L_BADGE_NAME}:</label></dt>
                <dd><input type="text" name="badge_name" id="badge_name" class="inputbox" /></dd>
            </dl>
            <dl>
                <dt><label for="badge_image">{L_BADGE_IMAGE}:</label></dt>
                <dd><input type="text" name="badge_image" id="badge_image" class="inputbox" /></dd>
            </dl>
        </fieldset>
        <fieldset class="quick">
            <input type="submit" name="add_badge" value="{L_ADD_BADGE}" class="button2" />
        </fieldset>
    </div>
</div>
<!-- ENDIF -->

<!-- IF S_GAMIFICATION_ENABLED -->
<div class="panel bg1">
    <div class="inner">
        <h3>{L_GAMIFICATION}</h3>
        <dl class="details">
            <dt>{L_LEVEL}:</dt>
            <dd>{USER_LEVEL}</dd>
            <dt>{L_XP}:</dt>
            <dd>{USER_XP}</dd>
        </dl>
    </div>
</div>
<!-- ENDIF -->

<form id="acp_userextensions" method="post" action="{U_ACTION}">
    <fieldset>
        <legend>{L_ACP_USEREXTENSIONS_SETTINGS}</legend>
        <dl>
            <dt><label for="userextensions_gamification_enabled">{L_USEREXTENSIONS_GAMIFICATION_ENABLED}:</label></dt>
            <dd><label><input type="radio" class="radio" name="userextensions_gamification_enabled" value="1"<!-- IF USEREXTENSIONS_GAMIFICATION_ENABLED --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                <label><input type="radio" class="radio" name="userextensions_gamification_enabled" value="0"<!-- IF not USEREXTENSIONS_GAMIFICATION_ENABLED --> checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
        </dl>
        <dl>
            <dt><label for="userextensions_xp_per_post">{L_USEREXTENSIONS_XP_PER_POST}:</label></dt>
            <dd><input type="number" name="userextensions_xp_per_post" value="{USEREXTENSIONS_XP_PER_POST}" /></dd>
        </dl>
        <dl>
            <dt><label for="userextensions_xp_per_reply">{L_USEREXTENSIONS_XP_PER_REPLY}:</label></dt>
            <dd><input type="number" name="userextensions_xp_per_reply" value="{USEREXTENSIONS_XP_PER_REPLY}" /></dd>
        </dl>
        <dl>
            <dt><label for="userextensions_xp_per_like">{L_USEREXTENSIONS_XP_PER_LIKE}:</label></dt>
            <dd><input type="number" name="userextensions_xp_per_like" value="{USEREXTENSIONS_XP_PER_LIKE}" /></dd>
        </dl>
    </fieldset>
    <fieldset class="submit-buttons">
        <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
        <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
        {S_FORM_TOKEN}
    </fieldset>
</form>

<!-- IF S_USER_BADGES -->
<div class="panel bg1">
    <div class="inner">
        <h3>{L_USER_BADGES}</h3>
        <ul class="badgelist">
            <!-- BEGIN user_badges -->
            <li><img src="{user_badges.BADGE_IMAGE}" alt="{user_badges.BADGE_NAME}" title="{user_badges.BADGE_NAME}" /></li>
            <!-- END user_badges -->
        </ul>
    </div>
</div>
<!-- ENDIF -->

<!-- IF S_USER_COVER_IMAGE -->
<div class="panel bg1">
    <div class="inner">
        <h3>{L_PROFILE_COVER}</h3>
        <img src="{USER_COVER_IMAGE}" alt="{L_PROFILE_COVER}" style="max-width: 100%;" />
    </div>
</div>
<!-- ENDIF -->
